<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">AudioUpload</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/upload">Upload</a></li>
        <li><a href="/featured">Featured</a></li>
      <li><a href="/files">Recent</a></li>
    </ul>
  </div>
</nav>
<br>
<div class="jumbotron text-center">
  <h1>Home</h1>
  </div>
  <div class="well text-center">
<h2>Upload,Stream,and Share your audio files.<hr>
</h2>
<br>
    <ul style="list-style:none;">
        <li>Click 'Upload' to share an audio file.</li>
      <li>Click 'Recent' to listen to the newest uploads.</li>
      <li>Click 'Featured' to listen to the top rated uploads.</li>
        <li><span class="glyphicon glyphicon-music" style="font-size:200px;padding:5px;"></span>
        </li>
    </ul>
  </div>
</body>
</html>
