<!DOCTYPE html>
<html lang="en">
<% include ../../views/partials/head %>
<body>
<% include ../../views/partials/nav %>

<% include ../../views/partials/header %>



<h2 class="info text-center">Recent Uploads</h2>
<% include ../../views/files_pages/files %>




<% include ../../views/partials/footer %>
</body>
</html>
