<div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    
    <strong>Error Uploading File:</strong><br>only audio files are accepted.
    </div>
