<!DOCTYPE html>
<html lang="en">
<% include ../views/partials/head %>
<body>
<% include ../views/partials/nav %>

<% include ../views/partials/header %>




<h2 class="info text-center">Upload Your Audio Files&nbsp;
<span class="glyphicon glyphicon-headphones"></span></h2>

<% include ../views/upload_pages/error %>

<% include ../views/upload_pages/uploadForm %>

<% include ../views/partials/footer %>
</body>
</html>
`